:root {
  --primary-bg: rgb(64, 37, 37);
  --primary-fg: white;
}

header,
footer {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}
header {
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: none;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
