:root {
  --medium-break: 350px;
  --large-break: 900px;
  --max-size: 1024px;
  --primary-fg: rgb(80, 72, 57);
  --primary-bg: rgb(240, 235, 226);
  --secondary-fg: rgb(240, 235, 226);
  --secondary-bg: rgb(80, 72, 57);
  --link-color: rgb(255, 101, 30);

  --secondary-bg-component: 80, 72, 57;
  /* THese are provided by layout.tsx */
  /* --font-title: 'Girassol';
  --font-header: 'Arizonia';
  --font-body: 'Open Sans'; */
}

* {
  font-family: var(--font-body);
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg);
  font-family: var(--font-body);
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  max-width: var(--max-size);
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  font-family: var(--font-body);
  background-image: url(/product/images/candle_soy.webp);

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
}

header,
footer {
  display: flex;
  box-sizing: border-box;
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  font: var(--font-header);
}

header {
  flex-direction: column;
  opacity: 0.9;
}

header .title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

nav {
  background-color: rgba(61, 93, 12, 1.0);
}

nav ul li {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: orange;
  margin-left: 0.5rem;
}

main {

  display: flex;
  box-sizing: border-box;
  /* height: 100%; */
  width: 100%;
  padding: 1rem;
  flex: 1;
  background-color: var(--primary-bg);

}

h1 {
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  font-family: var(--font-title);
  font-size: xx-large;
  max-width: var(--medium-break);
}

h2,
h3,
h4 {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  font-family: var(--font-heading);
  font-size: large;
}
#content {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.center-children {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#login{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: baseline;
}

.featured-products-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 450px) {
  header {
    /* flex-direction: row; */
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

@media (min-width: 900px) {
  header {
    /* flex-direction: row; */
  }
}
