.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 1rem;
}

.nav-buttons div:first-child,
.nav-buttons div:last-child {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: max-content;
}

.nav-buttons a,
.nav-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-fg);
  font-weight: bold;
  color: var(--primary-bg);
  text-decoration: none;
}
.nav-buttons a:hover {
  background-color: red;
}
